<br>
<img src=" <%= @user.pf_img %>" class="pf-img">
<div class="row small-up-1 medium-up-2 large-up-3">
  <% current_user.posts.each do |post| %>
  <div class="column">
      <img src=" <%= post.image %>">
      <h4 class="text-center"> <%= post.title %>   </h4>
      <p class="body-text"> <%= post.text %></p>
  </div>
  <% end %>
</div>
