<div class="splash">
  <div class="layer">
    <h1 class="text-center wanderlust-text"> WanderLust </h1>
  </div>
</div>
<div class="text-center">
  <h4 class="text-center"> Start your own <strong>travel</strong> blog and begin sharing magnificent photos and the <strong>stories</strong> they tell. </h4>
  <%= link_to "Begin photo blogging today!", signup_path, class:"button large" %>
</div>
  <br>
  <br>
  <div class="section-gray">
    <div class="row">
      <div class="large-6 columns text-center">
        <h4> Extremely <strong>simple</strong> to use! </h4>
        <h5> Travel, shoot, write, and share your stories.</h5>
      </div>
      <img src="http://www.sopbd.com/wp-content/uploads/2016/05/iphone-926890_1280.jpg" width="500px" height="400px" />
    </div>
  </div>
  <div class="section-white">
    <div class="row">
      <div class="large-4 columns">
        <img src="http://simpleicon.com/wp-content/uploads/multy-user.png" width="500px" height="400px" />
      </div>
      <div class="large-6 columns text-center">
        <br>
        <h4>Be part of a unique <strong>community</strong> of storytellers and adventures</h4>
         <h5> Capture life as it happens and <strong>share</strong> the moments that inspire them with the click of a button.</h5>
      </div>
    </div>
  </div>
  <div class="section-gray">
    <div class="row">
      <div class="large-6 columns">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
