<div class="splash">
  <div class="layer">
    <h1 class="text-center wanderlust-text"> WanderLust </h1>
  </div>
</div>
  <h4 class="text-center"> Start your own <strong>travel</strong> blog and begin sharing magnificent photos and the <strong>stories</strong> they tell. </h4>
