<div class="splash">
  <div class="layer">
    <h1 class="text-center wanderlust-text"> WanderLust </h1>
  </div>
</div>
<div class="text-center">
  <h4 class="text-center"> Start your own <strong>travel</strong> blog and begin sharing magnificent photos and the <strong>stories</strong> they tell. </h4>
  <% if !current_user %>
  <%= link_to "Begin photo blogging today!", signup_path, class:"button large" %>
  <% end %>
</div>
<div class="small-4 small-centered medium-6 medium-centered">
  <div class="orbit medium-centered small-centered large-centered section-white" role="region" aria-label="About Photos" data-orbit>
    <ul class="orbit-container">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span> &#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span> &#9654;&#xFE0E;</button>
  <li class="orbit-slide is-active">
    <img class="orbit-image" src="http://www.sopbd.com/wp-content/uploads/2016/05/iphone-926890_1280.jpg">
    <figcaption class="orbit-caption text-center">Travel, shoot, write, and <b>share</b> </figcaption>
  </li>
  <li class="orbit-slide is-active">
    <img class="orbit-image" src="http://www.happytrips.com/photo/48281528/.jpg">
    <figcaption class="orbit-caption text-center">Be part of a unique <b>community</b> of storytellers and adventures</figcaption>
  </li>
  <li class="orbit-slide is-active">
    <img class="orbit-image" src="http://www.greyhound.com.au/Clients/GREYHOUNDNEW/images/Blog/article8-beach-sunset.png">
    <figcaption class="orbit-caption text-center"><b>Travel</b>, adventure, and do it again.</figcaption>
  </li>

</ul>
  </div>
  </div>
  <br>
  <br>
  <div class="section-gray">
    <div class="row">
      <div class="small-5 large-6 columns">
        <h3 class="text-center"> Extremely <strong>simple</strong> to use! </h3>
        <h5> Travel, shoot, write, and share your stories.</h5>
        <p> Capture life as it happens and <strong>share</strong> the moments that inspire them with the click of a button.
      </div>
      <img src="https://static.pexels.com/photos/7543/pexels-photo.jpeg" width="500px" height="400px" />
    </div>
  </div>
  <div class="section-white">
    <div class="row">
      <div class="small-5 large-4 columns">
        <img src="http://simpleicon.com/wp-content/uploads/multy-user.png" width="500px" height="400px" margin-left="5em">
      </div>
      <div class="large-6 columns">
        <br>
        <h3 class="text-center">Be part of a unique <b>community</b> of storytellers and adventures</h3>
          Be a part of a diverse network of travelers who get to see the world through each other’s photo stories.
         </p>
         <p>
           <b>Explore</b> the Global Feed, where you can see all WanderLusters' photos, or check out the Popular page where you can find the most liked and trending images.
         </p>
      </div>
    </div>
  </div>
  <div class="section-gray">
    <div class="row">
      <div class="small-5 large-6 columns">
        <h3 class="text-center"> <b>On-the-go!</b> </h3>
        <p> <b>Portability.</b> Enjoy browsing through <b>beautiful</b> photos on your laptop, or quickly uploading <b>breathtaking</b> views on your phone.</p>
        <p>
          It is extremely easy to begin your photo story.
        </p>
        <p>
          Just go out there-- and <b>WanderLust</b>.
        </p>
        <div class="text-center">
          <% if !current_user %>
            <%= link_to "Sign Up!", signup_path, class:"button large" %>
          <% end %>
        </div>
      </div>
      <img src="http://static1.squarespace.com/static/54667388e4b0f227747d8b7c/5477d7c4e4b00de53a0d9226/5707c73b1d07c0ae2601b86c/1460313909775/iphone6-wallpaper-template-travel-1.jpg" width="500px" height="400px" />
    </div>
    <br>
  </div>
  </div>
