/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
 @import 'foundation-icons';

.top-bar { background-color: #000000 !important;
          font-size: 14px;}
.top-bar-left a li ul { background-color: #000000 !important;  }
.top-bar-right a { background-color: #000000 !important;  }
.dropdown-menu a li ul { background-color: #000000 !important;}
.menu-text { background-color: #000000 !important;
color: rgba(46, 138, 119, 1);}

.top-bar li {
    a {
        &:hover {
            color: #ffffff;
        }
    }
}

.form-box {
    margin-left: 20%;
}

.form-title {
    color: rgba(46, 138, 119, 1);
    font-weight: bold;
}

.callout {
    box-shadow: 1px 1px 1px black;
}

a {
    color: rgba(46, 138, 119, 1);
}

body {
    background-color: #f1f1f1;
}
.button {
background-color: black;
}
