// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pf-img {
  display: inline-block;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 2em;
  margin-left: 44%;
  position: relative;
  border-style: solid;
}

.pf-thumb{
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  border-style: solid;
  z-index: 4;
}

.profile-area {
    width:100%;
    height:15em;
    border:1px
    solid #000;
    position: absolute;
    background-color: rgba(46, 138, 119, 1);
    opacity: 0.7;
  }

.fi-burst {
    position: relative;
    z-index: 5;
}

.success {
    z-index: 2;
}

.user-feed {
    background-color: white;
}
